maximus/flows.json
[
    {
        "id": "932d23d37c49ad16",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eef7e2cc1fde2b1",
        "type": "mqtt in",
        "z": "932d23d37c49ad16",
        "name": "",
        "topic": "IR_STATE/READ",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9b90ebe4d204f04e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "a3ae48d73a9279a2",
                "cb38f084067e1c49"
            ]
        ]
    },
    {
        "id": "a3ae48d73a9279a2",
        "type": "ui_text",
        "z": "932d23d37c49ad16",
        "group": "9fbb6b1d50f402eb",
        "order": 0,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Estado da Tampa:",
        "format": "{{msg.payload == 1 ? 'ABERTA' : 'FECHADA'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb38f084067e1c49",
        "type": "ui_text",
        "z": "932d23d37c49ad16",
        "group": "9fbb6b1d50f402eb",
        "order": 0,
        "width": "7",
        "height": "1",
        "name": "",
        "label": "Valor do Sensor Infravermelho:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b90ebe4d204f04e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "CAIXA",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9fbb6b1d50f402eb",
        "type": "ui_group",
        "name": "Tampa",
        "tab": "03cf4c7c4659a5ca",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "03cf4c7c4659a5ca",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]